{% extends '::base.html.twig' %}

{% block body %}
    <a href="{{ url('logs_list') }}" style="padding: 10px; border: 1px solid; background-color: #00a65a; display: inline-block">Volver al listado</a>
    <br /><br /><br />
    {{ file | nl2br }}
{% endblock %}